.detailsForm{
    background-color: rgb(255, 255, 255) !important;
    
}
.optionsScroller::-webkit-scrollbar{
    display: none;
}
.optionsScroller{
    gap: 11.7vw;
    overflow: hidden;
    overflow-x: scroll;
}
.arrowBtn{
    background-color: var(--brandColor) !important;
    border: none !important;
    position: relative;
}
.arrowBtn::before{
    content: '';
    height: 80%;
    width: 2px;
    background-color: #dcdcdc;
    position: absolute;
    left: -.8rem;
    top: 50%;
    transform: translate(-50%, -50%);
}
.cardBox{
    width: 17rem;
}
.cardText{
    font-size: .8rem;
    line-height: 1.2rem;
}